<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" charset="utf-8" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title></title>
  </head>
  <%- include ('./partials/header.ejs') %>
  <body class="bg-danger">
    <%- include ('./partials/nav.ejs') %>
    <div class="text-center p-4 mb-2 text-white">
      <h3>Animes</h3>
    </div>
    <form class="p-0 mb-4 text-center" action="/anime/new" method="GET">
      <input class="btn btn-secondary btn-sm text-white" type="submit" value="ADD ANIME">
    </form>

    <div class="text-center row">
      <% for (let i = 0; i < allAnime.length; i++) { %>
        <div class="column">
          <a class="text-white" href="/anime/<%=allAnime[i].id%>">
            <img src="<%=allAnime[i].imgUrl%>" alt="" width="300" height="400">
            <p><%=allAnime[i].title%> (<%=allAnime[i].year%>)</p>
          </a>
        </div>
      <% } %>
    </div>

    <table class="table table-hover table-secondary">
      <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Title</th>
          <th scope="col">Watched</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < allAnime.length; i++) { %>
          <tr>
            <th scope="row"><%=allAnime[i].year%></th>
            <td><a href="/anime/<%=allAnime[i].id%>"><%=allAnime[i].title%></a></td>
            <td>
              <% if (allAnime[i].watched === true) { %>
                Yes
              <% } else { %>
                No
              <% }%>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
