<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title></title>
  </head>
  <%- include ('./partials/header.ejs') %>
  <body class="bg-warning">
    <div class="p-4 mb-2 text-center">
      <h1> <%=foundMovie.title%> (<%=foundMovie.year%>)</h1>
      <img src="<%=foundMovie.imgUrl%>" alt="" width="400" height="500">
      <h3>Genre: <%=foundMovie.genre%></h3>
      <h3>Director: <%=foundMovie.director%></h3>
      <h3>Watched:
        <% if(foundMovie.watched === true) { %>
          Yes
        <% } else { %>
          No
        <% } %>
      </h3>
      <h3>Rating: <%=foundMovie.rating%></h3>
      <h3>Comments: <%=foundMovie.comments%></h3>
    </div>
    <form class="p-0 mb-3 text-center" action="/" method="GET">
      <input class="btn btn-secondary btn-sm text-white" type="submit" value="BACK">
    </form>
    <form class="p-0 mb-3 text-center" action="/<%=foundMovie.id%>/edit" method="GET">
      <input class="btn btn-success btn-sm text-white" type="submit" value="EDIT">
    </form>
    <form class="p-0 mb-3 text-center" action="/<%=foundMovie.id%>?_method=DELETE" method="POST">
      <input class="btn btn-danger btn-sm text-white" type="submit" value="DELETE">
    </form>
  </body>
  <%- include ('./partials/footer.ejs') %>
</html>
